# Root gitignore file
# Most rules should go in the app-specific .gitignore files

# OS/editor
.DS_Store
Thumbs.db
*.log

# IDEs
.idea/
!.vscode/extensions.json
!.vscode/settings.json

# Walter build artifacts (monorepo structure)
walter/bin/
walter/obj/
walter/**/*.user
