# azure-pipelines.yml
trigger:
  branches:
    include:
      - main

pool:
  name: 'Pazuzu Pool'

variables:
- group: 'WalterDev'
- name: solution
  value: '**/*.sqlproj'
- name: buildConfiguration
  value: 'Release'
- name: targetServer
  value: 'CAES-ELZAR'
- name: targetDatabase
  value: 'WalterDev'

stages:
- stage: Build
  displayName: 'Build DACPAC'
  jobs:
  - job: BuildJob
    displayName: 'Build SQL Database Project'
    steps:
    - task: VSBuild@1
      displayName: 'Build SQL Project'
      inputs:
        solution: '$(solution)'
        msbuildArchitecture: 'x86'
        configuration: '$(buildConfiguration)'
    
    - task: CopyFiles@2
      displayName: 'Copy DACPAC to staging'
      inputs:
        SourceFolder: '$(Build.SourcesDirectory)'
        Contents: '**/bin/$(buildConfiguration)/*.dacpac'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
        flattenFolders: true
    
    # ADDED: Publish the artifact
    - task: PublishBuildArtifacts@1
      displayName: 'Publish DACPAC'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'dacpac'
        publishLocation: 'Container'

- stage: Deploy
  displayName: 'Deploy to WalterDev'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: DeployJob
    displayName: 'Deploy DACPAC to SQL Server'
    steps:
    - task: DownloadBuildArtifacts@1
      displayName: 'Download DACPAC'
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'dacpac'
        downloadPath: '$(System.ArtifactsDirectory)'

    - powershell: |
        Write-Host "Searching for DACPAC..."
        $dacpac = Get-ChildItem $(System.ArtifactsDirectory)\dacpac\*.dacpac | Select-Object -First 1

        if (-not $dacpac) {
          Write-Error "DACPAC not found!"
          exit 1
        }

        Write-Host "Found: $($dacpac.FullName)"

        $sqlPackage = "C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\SqlPackage.exe"

        if (-not (Test-Path $sqlPackage)) {
          Write-Error "SqlPackage not found at: $sqlPackage"
          exit 1
        }

        Write-Host "Using SqlPackage: $sqlPackage"

        $connectionString = "Server=$(targetServer);Database=$(targetDatabase);User ID=$(SqlUsername);Password=$(SqlPassword);Encrypt=False;"

        Write-Host "Deploying DACPAC to $(targetServer)\$(targetDatabase)..."
        Write-Host ""

        & $sqlPackage /Action:Publish `
          /SourceFile:$($dacpac.FullName) `
          /TargetConnectionString:$connectionString `
          /p:IncludeCompositeObjects=true

        if ($LASTEXITCODE -ne 0) {
          Write-Error "Deployment failed with exit code $LASTEXITCODE"
          exit $LASTEXITCODE
        }

        Write-Host ""
        Write-Host "================================"
        Write-Host "Deployment completed successfully!"
        Write-Host "================================"
      displayName: 'Deploy DACPAC to Database'
      env:
        SqlUsername: $(SqlUsername)
        SqlPassword: $(SqlPassword)