@import 'tailwindcss';
@plugin "daisyui";
@import '@ucdavis/gunrock-tailwind/imports.css';

@theme {
  --color-main-border: #e9e3ee;
  --color-salaries: var(--color-ucd-strawberry);
  --color-travel: var(--color-ucd-tahoe);
  --color-supplies: var(--color-ucd-arboretum);
  --color-indirect: var(--color-ucd-sunflower);

  --font-proxima-bold: 'proxima-nova-b', sans-serif;

  --color-light-bg-100: oklch(100% 0 0); /* white */
  --color-light-bg-200: #fafafa; /* off-white */
  --color-light-bg-300: #e9e9e9 /* light gray */;
  --color-primary-color: var(--color-ucd-gunrock);
}

@plugin "daisyui/theme" {
  name: 'walter';
  --color-base-100: var(--color-light-bg-100);
  --color-base-200: var(--color-light-bg-200);
  --color-base-300: var(--color-light-bg-300);
  --color-base-content: var(--color-dark-font);
  --color-primary: var(--color-ucd-gunrock);
  --color-primary-content: var(--color-light-font);
  --color-secondary: var(--color-ucd-goldenstate);
  --color-error: var(--color-documentation);
  --color-info: var(--color-team);
  --color-success: var(--color-quad);
  --color-warning: var(--color-services);
}
@layer base {
  .card {
    @apply border-1 border-main-border bg-base-200;
  }
  .fancy-list {
    @apply inline-flex items-center gap-2 px-3 py-2 rounded hover:bg-base-300 transition-colors duration-200 text-lg;
  }
}

.container {
  padding: 0;
  width: 94%;
  margin: 0 auto;
}

/* For small screens (sm breakpoint) */
@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}

/* For medium screens (md breakpoint) */
@media (min-width: 641px) and (max-width: 1024px) {
  .container {
    width: 92%;
    max-width: 100%;
  }
}

/* For large screens (lg breakpoint) */
@media (min-width: 1025px) {
  .container {
    width: 90%;
    max-width: 1440px;
  }
}

/* Slide Left Transition */
html:active-view-transition-type(slide-left) {
  &::view-transition-old(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-left;
  }

  &::view-transition-new(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-left;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide Right Transition */
html:active-view-transition-type(slide-right) {
  &::view-transition-old(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-right;
  }

  &::view-transition-new(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-right;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
.h1 {
  @apply text-2xl font-proxima-bold;
}
.h4 {
  @apply text-base font-proxima-bold text-dark-font/40;
}
.h5 {
  @apply text-base font-proxima-bold;
}
