@import 'tailwindcss';
@plugin "daisyui";
@import '@ucdavis/gunrock-tailwind/imports.css';

@theme {
  --color-light-bg-100: oklch(100% 0 0);
  --color-light-bg-200: #fafafa;
  --color-light-bg-300: #e9e9e9;
  --color-main-border: #e9e3ee;

  --font-proxima-bold: 'proxima-nova-b', sans-serif;

  --color-primary-color: var(--color-ucd-gunrock);
  --color-secondary-color: var(--color-ucd-goldenstate);
  --color-accent-color: var(--color-ucd-goldenstate);
  --color-error-color: var(--color-ucd-doubledecker);
  --color-info-color: var(--color-ucd-arboretum);
  --color-success-color: var(--color-ucd-sage);
  --color-warning-color: var(--color-ucd-poppy);
}

@plugin "daisyui/theme" {
  name: 'walter';
  --color-base-100: var(--color-light-bg-100);
  --color-base-200: var(--color-light-bg-200);
  --color-base-300: var(--color-light-bg-300);
  --color-base-content: var(--color-dark-font);

  --color-primary: var(--color-primary-color);
  --color-primary-content: var(--color-light-font);

  --color-secondary: var(--color-secondary-color);
  --color-accent: var(--color-accent-color);
  --color-error: var(--color-error-color);
  --color-info: var(--color-info-color);
  --color-success: var(--color-success-color);
  --color-warning: var(--color-warning-color);
}
@layer base {
  .card {
    @apply border-1 border-main-border bg-base-200;
  }
  .fancy-list {
    @apply inline-flex items-center gap-2 px-3 py-2 rounded hover:bg-base-300 transition-colors duration-200 text-lg;
  }
}

.container {
  padding: 0;
  width: 94%;
  margin: 0 auto;
}

/* For small screens (sm breakpoint) */
@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}

/* For medium screens (md breakpoint) */
@media (min-width: 641px) and (max-width: 1024px) {
  .container {
    width: 92%;
    max-width: 100%;
  }
}

/* For large screens (lg breakpoint) */
@media (min-width: 1025px) {
  .container {
    width: 90%;
    max-width: 1440px;
  }
}

/* Slide Left Transition */
html:active-view-transition-type(slide-left) {
  &::view-transition-old(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-left;
  }

  &::view-transition-new(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-left;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide Right Transition */
html:active-view-transition-type(slide-right) {
  &::view-transition-old(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-right;
  }

  &::view-transition-new(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-right;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
.h1 {
  @apply text-3xl font-proxima-bold;
}
.h2 {
  @apply text-2xl font-proxima-bold;
}
.h3 {
  @apply text-sm uppercase;
}
/* stat data */
.h4 {
  @apply text-lg;
}
/* Labels */
.h5 {
  @apply text-sm uppercase font-proxima-bold;
}

.section-margin {
  @apply mb-20;
}
.walter-table th {
  padding: 4px 0;
  border-top: 1px solid var(--color-main-border);
  border-bottom: 1px solid var(--color-main-border);
  font-size: 0.8rem;
  font-family: var(--font-proxima-bold);
  color: var(--color-dark-font);
}
.walter-table td {
  padding: 12px 0;
  color: var(--color-dark-font);
}
.walter-table tr {
  border: none;
}
.walter-table .totaltr {
  border-top: 1px solid var(--color-main-border);
  border-bottom: 1px solid var(--color-main-border);
  font-size: 0.8rem;
  font-family: var(--font-proxima-bold);
  color: var(--color-dark-font);
}
